fastapi
uvicorn[standard]
python-dotenv
requests
pydantic
langchain
langchain-community
langchain-huggingface
langchain-google-genai
google-generativeai
faiss-cpu
PyMuPDF


sentence-transformers==0.4.1.2
